name: Cleanup Projects

on:
  workflow_dispatch:

permissions:
  actions: write

jobs:
  clean-all:
    runs-on: ubuntu-latest
    steps:
      - name: Delete Failed Workflow Runs
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Cari yang gagal (failure) dan hapus
          for run_id in $(gh run list --status failure --json databaseId -q '.[].databaseId'); do
            gh run delete $run_id
          done

      - name: Delete All Caches
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Perhatikan: TIDAK ADA kata --confirm di sini
          gh cache delete --all --succeed-on-no-caches
